body {
    font-family: Roboto;
    color:whitesmoke;
    background-color: rgb(52, 52, 52);
}

#website {
    position: absolute;
    left: 1rem;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
}

#threeJS {
    width: auto;
}

header {
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    width: 30%;
    border: 4px solid whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
}

.social_icon {
    margin: 2px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}
a:hover {
    font-size: 1.1em;
    text-decoration: underline;
}

h2::first-letter {
    font-size: 1.4em;
}

article {
    padding-left: 1.5em;
    padding-bottom: 1em;
    width: 70%;
    margin: auto;
    margin-bottom: 1rem;
    border: 3px solid whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
}

.Icon {
    border: 3px solid whitesmoke;
    border-radius: 20px;
    width: 110px;
}

.Icon:hover {
    width: 115px;
    border-color: lightblue;
    border-width: 6px;
}

.app_text {
    color: white;
    
}
/*a:link {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}
a:hover {
    color: whitesmoke;
}

a:active {
    color: lightgoldenrodyellow;
}*/
